{% extends "wrapper.html" %}
{% block content %}

<div class="container-fluid">
                  <div class="row">
      <div class="col-sm-12 col-12">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th scope="col">Bank</th>
              <th scope="col">N1</th>
              <th scope="col">N2</th>
              <th scope="col">N3</th>
              <th scope="col">E</th>
              <th scope="col">C/A</th>
              <th scope="col">L</th>
              <th scope="col">NA</th>
              <th scope="col">E</th>
              <th scope="col">AC</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">SB</th>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <th scope="row">VTB</th>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <th scope="row">MKB</th>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <th scope="row">Vostok</th>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
          </tbody>
        </table>
      </div>

{% endblock %}