{% extends "wrapper.html" %}
{% block content %}
<style>
    #mes {word-wrap: break-word;}
</style>
<!-- TradingView Widget BEGIN -->
<div class="tradingview-widget-container">
    <div class="tradingview-widget-container__widget"></div>
    <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-ticker-tape.js"
        async>
        {
            "symbols": [{
                    "description": "",
                    "proName": "SP:SPX"
                },
                {
                    "description": "",
                    "proName": "NASDAQ:NDAQ"
                },
                {
                    "description": "",
                    "proName": "DJ:DJI"
                },
                {
                    "description": "",
                    "proName": "MOEX:IMOEX"
                },
                {
                    "description": "",
                    "proName": "MOEX:RTSI"
                },


                {
                    "description": "",
                    "proName": "INDEX:NKY"
                }
            ],
            "theme": "light",
            "isTransparent": false,
            "displayMode": "adaptive",
            "locale": "en"
        }
    </script>
</div>
<!-- TradingView Widget END -->

<div class="container-fluid">
    <div class="row">
        <div id="left" class="col-12 col-sm-6 col-md-6 col-lg-7 col-xl-9" style="font-size: 20px" align="center"">
            <img src="/static/ii.jpg"width="100%"><br>
            <div class="container-fluid">
                <div class="row">
                    <button class="btn btn-primary"
                        style="font-size:20px; width:100%; height:50px; background-color:#417690;"
                        onclick="Message()">Message<button>
                            <div id="mes">
                                {% for post in object_list %}
                                <h1>{{post.text}}</h1>
                                <h6>{{post.date|date:"h:m d.m.y"}}</h6>
                                {% endfor %}
                            </div>
                </div>
            </div>
            This site, and any contents or web pages attached, contains confidential and proprietary
            information that is intended for the exclusive use of authorized partners for the limited purpose
            of submitting and/or viewing information for designation of as part of the PAO Barbarian 2.0
            project. Any unauthorized use of this system is unlawful. The information and material contained on
            this site is confidential, and all authorized persons accessing the material have an obligation of
            confidentiality.<br>
            You are hereby notified that any entry into this site or disclosure, copying, distribution or use
            of any of the information contained in or attached to this site is strictly prohibited. If you have
            any knowledge of attempts to enter this site wrongfully, please immediately notify us. All access
            to this system is monitored and may be used as evidence in court.
        </div><br>
        <div id="right" class="col-12 col-sm-6 col-md-6 col-lg-5 col-xl-3" style="font-size: 20px" align="center">
            <div class="cont">
                <div class="view">0</div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    function Message() {
        location.href = 'http://aks74m689979.pythonanywhere.com/admin/index/message/add/'
    }
</script>
{% endblock %}