{% extends "wrapper.html" %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 col-12">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Invested</th>
                        <th scope="col">Gains</th>
                        <th scope="col">%</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">Health Catalist</th>
                        <td>26</td>
                        <td>2</td>
                        <td class="alert alert-success">8</td>
                    </tr>
                    <tr>
                        <th scope="row">Livongo Health</th>
                        <td>28</td>
                        <td>-10</td>
                        <td class="alert alert-danger">-38</td>
                    </tr>
                    <tr>
                        <th scope="row">Dynatrace</th>
                        <td>16</td>
                        <td>3</td>
                        <td class="alert alert-success">17</td>
                    </tr>
                    <tr>
                        <th scope="row"></th>
                        <td class="alert alert-warning">70</td>
                        <td class="alert alert-warning">-5</td>
                        <td class="alert alert-warning">-7</td>
                    </tr>
                </tbody>
            </table>
        </div>
        {% endblock %}