<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>Barbarian</title>
</head>
<!-- style="background-color:green" -->
<body>
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color:#417690;">
        <a class="navbar-brand" href="/"><img src="{% static 'bar.png' %}" width="50" height="50"></a>
        <button class="navbar-toggler" type="button" style="background-color:#d3ce53;" data-toggle="collapse"
            data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/message_list/" style="font-size:20px; color:white;">Wall<span
                            class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/ipo/" style="font-size:20px; color:white;">IPO<span
                            class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/chart/" style="font-size:20px; color:white">Chart<span class="sr-only">(current)</span></a>
                </li>
                <!-- <li class="nav-item active">
                    <a class="nav-link" href="/stock/" style="font-size:20px; color:white;">IPO<span class="sr-only">(current)</span></a>
                </li> -->
                <!-- <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdown" style="font-size:20px; color:white" role="button"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Markets</a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown" style="background-color:black;">
                    <a class="dropdown-item" href="/stock/" style="font-size:20px; color:white;">Stock<span class="sr-only">(current)</span></a>
                    <a class="dropdown-item" href="/bond/" style="font-size:20px; color:white;">Bond<span class="sr-only">(current)</span></a>
                </li> -->
                <!-- <li class="nav-item active">
                    <a class="nav-link" href="/bank/" style="font-size:20px; color:white;">Banks<span class="sr-only">(current)</span></a>
                </li> -->
                <!-- <li class="nav-item active">
    <a class="nav-link" href="/book_list/" style="font-size:20px; color:white;">Library<span class="sr-only">(current)</span></a>
</li> -->
                
            </ul>
            <!-- <ul class="nav justify-content-end">
<li class="nav-item active">
<a class="nav-link" href="/admin/" style="font-size:20px; color:white;">Admin<span class="sr-only">(current)</span></a>
    </li>
</ul> -->
        </div>
    </nav>
    {% block content %}
    {% endblock content %}
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
    <script type="text/javascript" src="{% static 'script.js' %}"></script>
</body>

</html>